@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Roboto:wght@500&display=swap");
:root {
  --B-fs-title: 1.3rem; /* font size of title */
  --B-fs-body: 1.05rem; /* font size of body */
  --B-w-authorImg: 56px; /* width of authorImg */
  --B-h-headImg: 38%; /* height of headImg */
}

.blog-page {
  /* display and box model */
  padding: var(--pd-c);
}

.blogCard-container {
  /* display and box model */
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1.5rem;
  /* positioning */
  justify-content: space-evenly;
}

/*blog cards css starts here */

.blogCard {
  all: unset;
  /* display and box model */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  /* positioning */
  justify-content: space-between;
  /* other */
  cursor: pointer;
  background: #fcfcfc;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
  transition: all 0.5s ease;
}

.blogCard:active {
  outline: orange 5px auto;
}

.blogCard:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.4));
}

.blog-headImage {
  /* display and box model */
  width: 100%;
  height: var(--B-h-headImg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog-bodySection {
  font-family: "Roboto";
}

.blog-bodySection,
.blog-authorSection {
  /* display and box model */
  margin-left: 7%;
  margin-right: 7%;
}

.blog-title {
  font-size: var(--B-fs-title);
  color: #2f2f2f;
}

.blog-body {
  /* display and box model */
  margin-top: 3%;
  height: 100px;
  /* other */
  overflow: hidden;
  text-align: justify;
  font-size: var(--B-fs-body);
  color: rgb(103, 112, 119);
}

.blog-authorSection {
  /* display and box model */
  display: flex;
  column-gap: 26px;
  margin-bottom: 30px;
  /* positioning */
  align-items: center;
}

.blog-authorImage {
  /* display and box model */
  width: var(--B-w-authorImg);
  clip-path: circle();
}

.blog-authorBlog {
  /* display and box model */
  width: 50%;
}

.blog-authorName,
.blog-publishDate {
  /* display and box model */
  padding: 3px;
  /* other */
  font-family: "Mulish";
  font-size: 1rem;
  color: #6d7d8b;
}

/* responsive settings */
@media all and (max-width: 960px) {
  :root {
    --B-fs-title: 1.38rem;
    --B-fs-body: 0.98rem;
    --B-w-authorImg: 44px;
    --B-h-headImg: 35%;
  }

  .blogCard {
    width: 320px;
    height: 450px;
  }

  .blog-body {
    margin-top: 5%;
    line-height: 20px;
  }

  .blog-authorSection {
    column-gap: 13px;
    margin-bottom: 20px;
  }

  .blog-authorName,
  .blog-publishDate {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 800px) {
  :root {
    --B-fs-title: 1.1rem;
    --B-fs-body: 0.9rem;
    --B-w-authorImg: 40px;
    --B-h-headImg: 33%;
  }

  .blogCard {
    width: 270px;
    height: 400px;
  }

  .blog-authorName,
  .blog-publishDate {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 700px) {
  :root {
    --B-fs-title: 1.3rem;
    --B-fs-body: 1.07rem;
    --B-w-authorImg: 53px;
    --B-h-headImg: 38%;
  }

  .blogCard {
    width: 400px;
    height: 470px;
  }

  .blog-body {
    height: 100px;
    margin-top: 3%;
  }

  .blog-authorSection {
    margin-bottom: 30px;
    column-gap: 20px;
  }

  .blog-authorBlog {
    width: 50%;
  }

  .blog-authorName,
  .blog-publishDate {
    font-size: 1rem;
  }
}

@media all and (max-width: 600px) {
  :root {
    --B-fs-title: 1.2rem;
    --B-fs-body: 0.93rem;
    --B-w-authorImg: 44px;
    --B-h-headImg: 35%;
  }

  .blogCard-container {
    gap: 1.4rem;
  }

  .blogCard {
    width: 320px;
    height: 400px;
  }

  .blog-body {
    margin-top: 2%;
    line-height: 20px;
  }

  .blog-authorSection {
    margin-bottom: 20px;
  }

  .blog-authorName,
  .blog-publishDate {
    font-size: 0.875rem;
  }
}

@media all and (max-width: 400px) {
  :root {
    --B-fs-title: 1.05rem;
    --B-fs-body: 0.9rem;
    --B-w-authorImg: 38px;
  }

  .blogCard {
    width: 290px;
  }

  .blog-body {
    margin-top: 3%;
  }
}
