.Home-Container {
  overflow-x: hidden;
}

.Home-aboutUs {
  background-image: linear-gradient(#77b5ff, #fff);
  padding: var(--pd-Home-c);
}

.Home-services {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home-recent-works {
  background: transparent;
  height: 500px;
  padding: var(--pd-c);
}

.Home-what-ppl-think {
  background-image: linear-gradient(180deg, #fbfbfd 15.43%, #d0d4f9 100%);
  padding: var(--pd-c);
}

@media all and (max-width: 1425px) {
  .Home-recent-works {
    height: 720px;
  }
}
@media all and (max-width: 700px) {
  .Home-recent-works {
    height: 1100px;
  }
}
@media all and (max-width: 600px) {
  .Home-recent-works {
    height: 1010px;
  }
}
