@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap");

:root {
  --H-T-left-text: 32%;
  --H-T-top-text: 23%;
  --H-T-fs-text: 6.4rem;
  --H-T-fs-staticText: 4.6rem;
}
.home-top {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.home-top-image {
  height: 43vw;
}

.home-top-text {
  z-index: 1;
  /* display and box model */
  max-width: 650px;
  /* positioning */
  position: absolute;
  left: var(--H-T-left-text);
  top: var(--H-T-top-text);
  /* other */
  font-size: var(--H-T-fs-staticText);
  font-family: "Kanit";
  line-height: 1;
  font-weight: 600;
  letter-spacing: 5px;
  background: linear-gradient(45deg, #e05fe7, #ab36fd, #a466d3, #1b59f7);
  background-size: 300%;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 7s ease-in-out infinite;
  -moz-animation: animated_text 7s ease-in-out infinite;
  -webkit-animation: animated_text 7s ease-in-out infinite;
  animation-timing-function: ease;
  -webkit-text-stroke: 2.3px white;
}

.home-top-text h1 {
  font-size: var(--H-T-fs-text);
  font-weight: 600;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

/* responsive settings */
@media all and (max-width: 1400px) {
  :root {
    --H-T-left-text: 30%;
    --H-T-top-text: 21%;
    --H-T-fs-text: 5.3rem;
    --H-T-fs-staticText: 3.5rem;
  }
  .home-top-image {
    height: 58vw;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --H-T-left-text: 27%;
    --H-T-top-text: 20%;
    --H-T-fs-text: 4.3rem;
    --H-T-fs-staticText: 3rem;
  }

  .home-top-image {
    height: 55vw;
  }

  .home-top-text {
    /* display and box model */
    max-width: 600px;
    -webkit-text-stroke: 1.3px white;
  }
}

@media all and (max-width: 960px) {
  :root {
    --H-T-left-text: 15%;
    --H-T-top-text: 22%;
    --H-T-fs-text: 3.3rem;
    --H-T-fs-staticText: 2.7rem;
  }
  .home-top-text {
    -webkit-text-stroke: 0.6px white;
  }
}

@media all and (max-width: 600px) {
  :root {
    --H-T-left-text: 16%;
    --H-T-top-text: 17%;
    --H-T-fs-text: 2.55rem;
    --H-T-fs-staticText: 1.95rem;
  }
  .home-top-image {
    height: 50vw;
  }
  .home-top-text {
    max-width: 400px;
    letter-spacing: 2px;
  }
}

@media all and (max-width: 400px) {
  :root {
    --H-T-left-text: 17%;
    --H-T-top-text: 25%;
    --H-T-fs-text: 2rem;
    --H-T-fs-staticText: 1.8rem;
  }
  .home-top-image {
    height: 60vw;
  }
  .home-top-text {
    max-width: 450px;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.3px white;
  }
}
