@import "https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap";

:root {
  --nav-pd-container: 0 140px; /* nav container padding */
  --nav-fs-links: 1.2rem; /* nav links size */
  --nav-fs-activeLinks: 1.3rem; /* active nav link size */
  --nav-fs-logoName: 2rem; /* nav logo name size */
  --nav-fs-logo: 50px; /* nav img logo size */
  --nav-h-container: 5rem; /* nav height */
}

.navbar {
  /* display and box model */
  display: flex;
  height: var(--nav-h-container);
  padding: var(--nav-pd-container);
  /* positioning */
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  /* other */
  background-color: #0e63e3;
}

.nav-container {
  /* display and box model */
  display: flex;
  width: 100%;
  height: 80px;
  /* positioning */
  justify-content: space-between;
  align-items: center;
}
/* Navigation logo styles */
.nav-logo {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--nav-fs-logoName);
  font-family: "Cabin";
  justify-content: center;
  align-items: center;
  display: flex;
}
.nav-logo img {
  /* display and box model */
  width: var(--nav-fs-logo);
  margin-right: 10px;
}

/* Navigation ul tag class target */
.navMenu {
  /* display and box model */
  display: flex;
  /* other */
  list-style: none;
}
/* Navigation li tag class target */
.nav-links {
  /* display and box model */
  margin-left: 0.4rem;
  padding: 0.5rem 1rem;
  /* positioning */
  position: relative;
  bottom: 0;
  /* other */
  color: #fff;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  font-size: var(--nav-fs-links);
  letter-spacing: 1px;
  transition: all 0.5s;
}
/* Navigation li tag class hover effect */
.nav-links:hover {
  font-size: var(--nav-fs-activeLinks);
}

/* Active nav link styles */
.nav-item .active {
  /* display and box model */
  border-bottom: 3px solid white;
  /* positioning */
  bottom: 5px;
  /* other */
  font-size: var(--nav-fs-activeLinks);
  font-weight: bold;
}

/* Nav link hover effect */
.nav-links:before {
  /* display and box model */
  width: 100%;

  /* positioning */
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -3.9px;
  /* other */
  content: " ";
  border-bottom: 3px solid white;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  opacity: 0;
  transition-delay: 0.2s;
}

.nav-links:hover:before {
  opacity: 1;
  transition-delay: 0s;
}

/* Hamburger icon style */
.nav-icon {
  /* display and box model */
  display: none;
}

/*Responsive settings*/
@media screen and (max-width: 1400px) {
  :root {
    --nav-pd-container: 0 60px;
    --nav-fs-links: 1.35rem;
    --nav-fs-activeLinks: 1.2rem;
    --nav-fs-logoName: 1.7rem;

    --nav-fs-logo: 45px; /* nav img logo size */
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --nav-pd-container: 0 60px;
    --nav-fs-links: 1.15rem;
    --nav-fs-activeLinks: 1.2rem;
    --nav-fs-logoName: 1.3rem;
    --nav-h-container: 4.8rem;
    --nav-fs-logo: 45px; /* nav img logo size */
  }

  .nav-links {
    margin-left: 0rem;
  }
}

/* Menu toggle responsiveness */
@media screen and (max-width: 960px) {
  :root {
    --nav-fs-logoName: 1.6rem;
    --nav-fs-logo: 48px;
    --nav-h-container: 4rem;
  }
  .navMenu {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #858585;
    position: absolute;
    top: 4rem;
    left: -100%;
    opacity: 1;
    transition: all 0.3s;
    overflow-x: hidden;
  }

  .navMenu.active {
    background: #ececec;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #1b83fd;
    border-bottom: 3px solid #1b83fd;
    box-shadow: #88888883 0 4px 12px;
    bottom: 0;
  }

  .nav-links:before {
    display: none;
  }

  .nav-links {
    width: 100%;
    display: table;
    color: #2f2f2f;
    margin-left: 0px;
    padding: 1rem 2rem;
  }

  .navbar ul li a:hover {
    background-color: #fff;
    box-shadow: #88888883 0 4px 12px;
  }

  .nav-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }

  .cross {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --nav-pd-container: 0 30px;
    --nav-fs-links: 1.1rem;
    --nav-fs-logoName: 1.6rem;
    --nav-fs-logo: 45px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --nav-pd-container: 0 25px;
    --nav-fs-links: 1rem;
    --nav-fs-activeLinks: 1.05rem;
    --nav-fs-logoName: 1.2rem;
    --nav-fs-logo: 30px;
    --nav-h-container: 3.3rem;
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  .cross {
    font-size: 2rem;
  }

  .navMenu {
    top: 3.3rem;
    left: -110%;
  }

  .nav-links {
    padding: 14px 25px;
  }
}
