.homeBlogComponent {
  display: flex;
  flex-direction: column;
  padding: var(--pd-c);
}

.blogCardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.viewMore {
  text-decoration: none;
  color: "#0e63e3";
  align-self: flex-end;
  padding: 1rem;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
