:root {
  --pd-Home-c: 80px 140px 100px;
  /*container padding*/
  --fs-Home-p: 1.3rem;
  /* paragraph font size*/
  --fh-Home-p: 35px;
  /* paragraph line height */
}

/* About us section */

.Home-aboutUs-WhoAreWe {
  display: flex;
  flex-direction: row;
  gap: 250px;
  margin-bottom: 100px;
}

.Home-aboutUs-images {
  position: relative;
}

.leftgirl,
.rightgroup {
  width: 300px;
}

.rightgroup {
  position: absolute;
  top: 155px;
  left: 155px;
}
.Home-aboutUs-Title {
  color: #2f2f2f;
  font-family: "Bahnschrift";
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  line-height: 85px;
  margin-top: 3px;
}

.Home-aboutUs-Paragraph {
  font-family: "Bahnschrift";
  font-weight: 400;
  font-size: var(--fs-Home-p);
  line-height: var(--fh-Home-p);
  text-align: justify;
  margin-top: 15px;
}

@media all and (max-width: 1200px) {
  :root {
    --pd-Home-c: 50px 60px 70px;
    --fs-Home-p: 1.2rem;
    --fh-Home-p: 32px;
  }

  .Home-aboutUs-WhoAreWe {
    gap: 200px;
  }

  .leftgirl,
  .rightgroup {
    width: 230px;
  }

  .rightgroup {
    left: 145px;
  }

  .Home-aboutUs-Title {
    font-size: 3rem;
    letter-spacing: 0.04em;
    margin-bottom: 0px;
    line-height: 50px;
    margin-top: 15px;
  }
}
@media all and (max-width: 1000px) {
  :root {
    --fh-Home-p: 29px;
  }
  .Home-aboutUs-Paragraph {
    margin-top: 5px;
  }
}
@media all and (max-width: 960px) {
  :root {
    --pd-Home-c: 50px 60px 70px;
    --fs-Home-p: 1.08rem;
    --fh-Home-p: 25px;
  }

  .Home-aboutUs-WhoAreWe {
    gap: 170px;
  }

  .leftgirl,
  .rightgroup {
    width: 200px;
  }

  .rightgroup {
    top: 120px;
    left: 135px;
  }

  .Home-aboutUs-Title {
    font-size: 2.3rem;
    letter-spacing: 0em;
    margin-bottom: 5px;
    line-height: 50px;
    margin-top: 9px;
  }
}

@media all and (max-width: 800px) {
  :root {
    --pd-Home-c: 50px 60px 70px;
    --fh-Home-p: 25px;
  }

  .Home-aboutUs-WhoAreWe {
    flex-direction: column-reverse;
  }

  .Home-aboutUs-WhoAreWe {
    gap: 25px;
  }

  .Home-aboutUs-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
  }

  .Home-aboutUs-Title {
    font-size: 2.2rem;
    margin-top: 5px;
  }

  .leftgirl,
  .rightgroup {
    width: 45%;
  }

  .rightgroup {
    position: static;
  }
}

@media all and (max-width: 600px) {
  :root {
    --pd-Home-c: 20px 30px 40px;
    --fs-Home-p: 1rem;
    --fh-Home-p: 27px;
  }

  .Home-aboutUs-WhoAreWe {
    gap: 10px;
  }

  .Home-aboutUs-Title {
    font-size: 2.1rem;
  }

  .Home-aboutUs-images {
    gap: 17px;
    margin-top: 15px;
  }
}
@media all and (max-width: 400px) {
  :root {
    --pd-Home-c: 30px 25px 50px;
    --fs-Home-p: 0.9rem;
    --fh-Home-p: 21px;
  }

  .Home-aboutUs-WhoAreWe {
    gap: 10px;
  }

  .Home-aboutUs-Title {
    font-size: 2rem;
  }

  .Home-aboutUs-images {
    gap: 17px;
    margin-top: 7px;
  }
}
