:root {
  --fs-HT-staticText: 4.5rem;
  --fs-HT-text: 6.5rem;
  --vw-HT-homeTop: 43vw;
  --iw-HT-rocket: 13%;
  --iw-HT-planet: 9%;
  --iw-HT-man: 25%;
  --iw-HT-bg: 29%;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");
.Home-main {
  position: relative;
  width: 100%;
  height: 100%;
}

/*Text*/
.Home-text {
  position: absolute;
  left: 36%;
  top: 23%;
  font-size: var(--fs-HT-staticText);
  font-family: "Baloo 2";
  max-width: 650px;
  line-height: 1;
  font-weight: 700;
  background: linear-gradient(45deg, #f65cff, #ab36fd, #a289ff, #0047fd);
  background-size: 300%;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 7s ease-in-out infinite;
  -moz-animation: animated_text 7s ease-in-out infinite;
  -webkit-animation: animated_text 7s ease-in-out infinite;
  animation-timing-function: ease;
}

.Home-text h1 {
  font-size: var(--fs-HT-text);
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
/*Text*/

.Home-top {
  height: var(--vw-HT-homeTop);
  overflow: hidden;
  display: relative;
}
.Home-img-collection {
  position: relative;
  width: 100%;
  height: 100%;
}

.leftbg {
  width: var(--iw-HT-bg);
  position: absolute;
}

.rightbg {
  width: var(--iw-HT-bg);
  position: absolute;
  right: 0;
  bottom: 0;
}

.floatingman {
  width: var(--iw-HT-man);
  position: absolute;
  bottom: 3%;
  left: 7%;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.planet {
  width: var(--iw-HT-planet);
  position: absolute;
  top: 7%;
  left: 5%;
  animation-name: planet;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.rocket {
  width: var(--iw-HT-rocket);
  position: absolute;
  left: 16%;
  top: 10%;
  animation-name: rocket;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes rocket {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(-5px, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes planet {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(5px, 3px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media all and (max-width: 1400px) {
  :root {
    --fs-HT-staticText: 3.5rem;
    --fs-HT-text: 5rem;
  }
  .Home-text {
    left: 35%;
    top: 25%;
  }
}

@media all and (max-width: 1200px) {
  :root {
    --fs-HT-staticText: 3rem;
    --fs-HT-text: 4rem;
    --vw-HT-homeTop: 45vw;
    --iw-HT-rocket: 11%;
    --iw-HT-planet: 10%;
    --iw-HT-man: 26%;
    --iw-HT-bg: 31%;
  }
  .Home-text {
    left: 35%;
    top: 30%;
  }
  .rightbg {
    right: -5%;
  }
}

@media all and (max-width: 960px) {
  :root {
    --fs-HT-staticText: 2.3rem;
    --fs-HT-text: 3.3rem;
    --vw-HT-homeTop: 50vw;
    --iw-HT-rocket: 14%;
    --iw-HT-planet: 11%;
    --iw-HT-man: 28%;
    --iw-HT-bg: 33%;
  }
  .Home-text {
    left: 37%;
    top: 27%;
    max-width: 320px;
  }
}

@media all and (max-width: 800px) {
  :root {
    --fs-HT-text: 2.6rem;
    --fs-HT-staticText: 1.6rem;
    --vw-HT-homeTop: 50vw;
    --iw-HT-rocket: 14%;
    --iw-HT-planet: 11%;
    --iw-HT-man: 25%;
    --iw-HT-bg: 35%;
  }
  .Home-text {
    left: 34%;
    top: 32%;
    max-width: 300px;
  }
  .leftbg {
    left: -5%;
  }
}

@media all and (max-width: 600px) {
  :root {
    --fs-HT-text: 2.3rem;
    --fs-HT-staticText: 1.3rem;
    --vw-HT-homeTop: 60vw;
    --iw-HT-rocket: 14%;
    --iw-HT-planet: 9%;
    --iw-HT-man: 23%;
    --iw-HT-bg: 50%;
  }

  .Home-text {
    left: 27%;
    top: 32%;
    max-width: 300px;
  }

  .leftbg {
    left: -25%;
  }

  .rightbg {
    right: -10%;
  }

  .floatingman {
    bottom: 10%;
    left: 5%;
  }

  .planet {
    left: 2%;
  }

  .rocket {
    left: 10%;
  }
}

@media all and (max-width: 400px) {
  :root {
    --fs-HT-text: 1.8rem;
    --fs-HT-staticText: 1rem;
    --vw-HT-homeTop: 50vw;
    --iw-HT-rocket: 13%;
    --iw-HT-planet: 8%;
    --iw-HT-man: 26%;
    --iw-HT-bg: 50%;
  }

  .Home-text {
    left: 20%;
    top: 30%;
    max-width: 200px;
  }

  .floatingman {
    bottom: 1%;
    left: 73%;
  }

  .leftbg {
    left: -30%;
  }

  .rightbg {
    right: -20%;
  }
  .planet {
    top: 7%;
    left: 1%;
  }

  .rocket {
    left: 7%;
    top: 15%;
  }
}
