@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
:root {
  --pd-c: 80px 140px 100px; /* container padding */
}

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

/* responsiveness settings */
@media all and (max-width: 1200px) {
  :root {
    --pd-c: 50px 60px 70px;
  }
}

@media all and (max-width: 600px) {
  :root {
    --pd-c: 20px 30px 40px;
  }
}

@media all and (max-width: 400px) {
  :root {
    --pd-c: 30px 25px 50px;
  }
}
