/*Service and More Cards styling*/
.serviceCard {
  height: 496px;
  width: 360px;
  background-color: #bcebfc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.serviceCard:hover {
  color: white;
  background-color: #3fbfe9;
  transform: translateY(-5px);
  border-radius: 20px;
}

.logo {
  height: 140px;
  width: 140px;
}

.contactButton {
  border-radius: 26px;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 600;
  width: 166px;
  height: 51px;
  color: #2f2f2f;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fbfbfd inset;
  transition: all 0.45s ease;
  cursor: pointer;
}

.serviceCard:hover .contactButton:hover {
  border: solid 2px white;
  box-shadow: none;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #62cff5, #c091fc);
}

.serviceCard:hover .contactButton:active {
  filter: brightness(1);
}

.aboutLogo {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardName {
  font-size: 26px;
  font-style: bold;
}

.cardDescription {
  padding: 10px;
  font-size: 20px;
}

.moreDetails {
  font-size: 70px;
  font-weight: 700;
  color: white;
  text-align: center;
}

/*Service Card section*/
.serviceCardSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem 1.5rem;
}
.services-container {
  padding: 60px 140px;
}

/*Dual card optimization*/
@media all and (max-width: 1398px) {
  .serviceCardSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em 4em;
  }

  .services-container {
    padding: 10% 10%;
  }
}

/*single card optimization*/

@media all and (max-width: 1070px) {
  .serviceCard {
    height: 538px;
    width: 390px;
  }

  .serviceCard:hover {
    transform: translateY(-5px);
  }

  .logo {
    height: 155px;
    width: 155px;
  }
}

/*Mobile optimization*/
@media all and (max-width: 600px) {
  .serviceCard {
    height: 496px;
    width: 360px;
  }

  .serviceCard:hover {
    transform: translateY(-5px);
  }

  .logo {
    height: 130px;
    width: 130px;
  }

  .cardName {
    font-size: 24px;
    font-style: bold;
  }

  .cardDescription {
    padding: 10px;
    font-size: 18px;
  }
}
